In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df1=pd.read_csv("appointments.csv")

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 939 entries, 0 to 938
Data columns (total 3 columns):
Unnamed: 0      939 non-null int64
appointments    939 non-null object
user            939 non-null int64
dtypes: int64(2), object(1)
memory usage: 22.1+ KB

In [5]:
df2=pd.read_csv("user.csv")

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 7 columns):
Unnamed: 0    999 non-null int64
symptoms      999 non-null object
activities    999 non-null object
constants     999 non-null object
user          999 non-null int64
age           999 non-null int64
gender        999 non-null object
dtypes: int64(3), object(4)
memory usage: 54.7+ KB

In [7]:
df1["user"]=[a for a in range(1,len(df1)+1)]
df1.head()

   Unnamed: 0                                       appointments  user
0           0  [{u'date': 1557129130, u'doctor': u'Dr. Yen'},...     1
1           1  [{u'date': 1542408628, u'doctor': u'Dr. Jones'...     2
2           2  [{u'date': 1554590672, u'doctor': u'Dr. Salkio...     3
3           3  [{u'date': 1551717508, u'doctor': u'Dr. Salkio...     4
4           4  [{u'date': 1583643001, u'doctor': u'Dr. Sarias...     5

In [8]:
df2.head()

,Unnamed: 0,symptoms,activities,constants,user,age,gender
0,0,"[{'name': 'backache', 'date': 1530680440, 'str...","[{'activity': 'fishing', 'date': 1582084266, '...","[{'name': 'eat Omega-3', 'date': 1569335492}, ...",1,35,M
1,1,"[{'name': 'backache', 'date': 1515771831, 'str...","[{'activity': 'meditation', 'date': 1531894948...","[{'name': 'Do knee exercises', 'date': 1549925...",2,69,M
2,2,"[{'name': 'fatigue', 'date': 1595694786, 'stre...","[{'activity': 'running', 'date': 1526578035, '...","[{'name': 'write journal entry', 'date': 15751...",3,40,M
3,3,"[{'name': 'high blood pressure', 'date': 15088...","[{'activity': 'running', 'date': 1570003333, '...","[{'name': 'Do knee exercises', 'date': 1553185...",4,51,F
4,4,"[{'name': 'muscle pain', 'date': 1582910637, '...","[{'activity': 'fishing', 'date': 1586464198, '...","[{'name': 'write journal entry', 'date': 15553...",5,25,M

In [9]:
df3=pd.merge(df1,df2,how="outer")

In [10]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 999 entries, 0 to 998
Data columns (total 8 columns):
Unnamed: 0      999 non-null int64
appointments    939 non-null object
user            999 non-null int64
symptoms        999 non-null object
activities      999 non-null object
constants       999 non-null object
age             999 non-null int64
gender          999 non-null object
dtypes: int64(3), object(5)
memory usage: 70.2+ KB

In [11]:
df3.head()

,Unnamed: 0,appointments,user,symptoms,activities,constants,age,gender
0,0,"[{u'date': 1557129130, u'doctor': u'Dr. Yen'},...",1,"[{'name': 'backache', 'date': 1530680440, 'str...","[{'activity': 'fishing', 'date': 1582084266, '...","[{'name': 'eat Omega-3', 'date': 1569335492}, ...",35,M
1,1,"[{u'date': 1542408628, u'doctor': u'Dr. Jones'...",2,"[{'name': 'backache', 'date': 1515771831, 'str...","[{'activity': 'meditation', 'date': 1531894948...","[{'name': 'Do knee exercises', 'date': 1549925...",69,M
2,2,"[{u'date': 1554590672, u'doctor': u'Dr. Salkio...",3,"[{'name': 'fatigue', 'date': 1595694786, 'stre...","[{'activity': 'running', 'date': 1526578035, '...","[{'name': 'write journal entry', 'date': 15751...",40,M
3,3,"[{u'date': 1551717508, u'doctor': u'Dr. Salkio...",4,"[{'name': 'high blood pressure', 'date': 15088...","[{'activity': 'running', 'date': 1570003333, '...","[{'name': 'Do knee exercises', 'date': 1553185...",51,F
4,4,"[{u'date': 1583643001, u'doctor': u'Dr. Sarias...",5,"[{'name': 'muscle pain', 'date': 1582910637, '...","[{'activity': 'fishing', 'date': 1586464198, '...","[{'name': 'write journal entry', 'date': 15553...",25,M

In [12]:
import yaml

In [13]:
def list_of_lists_of_dictionaries_to_df(aan):
    df9=pd.DataFrame()
    for a in range(len(aan)):
        x=yaml.load(aan[a])
        dd=pd.DataFrame(x)
        if a==0:
            df9=dd
            continue
        df9=pd.concat([df9,dd],axis=0)
    return df9

In [14]:
def no_of_appointments(aan):
    df9=[]
    for a in range(len(aan)):
        x=yaml.load(aan[a])
        dd=pd.DataFrame(x)
        df9.append(len(dd))
    return df9

In [15]:
#np.stack(pd.DataFrame((yaml.load(df1["appointments"][0])),pd.DataFrame(yaml.load(df1["appointments"][1]))))

In [16]:
#nn=pd.concat([pd.DataFrame(yaml.load(df1["appointments"][1])),pd.DataFrame(yaml.load(df1["appointments"][0]))],axis=0)

In [17]:
df9=list_of_lists_of_dictionaries_to_df(df1["appointments"])

D:\Genral Softwares\Anaconda\lib\site-packages\ipykernel_launcher.py:4: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  after removing the cwd from sys.path.

In [18]:
df9.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15460 entries, 0 to 24
Data columns (total 2 columns):
u'date'      15460 non-null int64
u'doctor'    15460 non-null object
dtypes: int64(1), object(1)
memory usage: 362.3+ KB

In [19]:
df9.tail()

       u'date'        u'doctor'
20  1584147931       u'Dr. Yen'
21  1571382908     u'Dr. Jones'
22  1572279112       u'Dr. Yen'
23  1586077943  u'Dr. Salkioff'
24  1539089125     u'Dr. Abdul'

In [20]:
ddf=list_of_lists_of_dictionaries_to_df(df2["symptoms"])

D:\Genral Softwares\Anaconda\lib\site-packages\ipykernel_launcher.py:4: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  after removing the cwd from sys.path.

In [21]:
ddf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13085 entries, 0 to 13
Data columns (total 3 columns):
date        13085 non-null int64
name        13085 non-null object
strength    13085 non-null int64
dtypes: int64(2), object(1)
memory usage: 408.9+ KB

In [22]:
dff=list_of_lists_of_dictionaries_to_df(df2["activities"])

D:\Genral Softwares\Anaconda\lib\site-packages\ipykernel_launcher.py:4: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  after removing the cwd from sys.path.

In [23]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15473 entries, 0 to 25
Data columns (total 4 columns):
activity    15473 non-null object
after       15473 non-null int64
before      15473 non-null int64
date        15473 non-null int64
dtypes: int64(3), object(1)
memory usage: 604.4+ KB

In [24]:
dff.head()

     activity  after  before        date
0     fishing      1       3  1582084266
1      soccer      1       2  1572800887
2      soccer      3       4  1557499034
3  meditation      1       2  1561290915
4        yoga      1       4  1485172311

In [25]:
ddf.head()

         date      name  strength
0  1530680440  backache         1
1  1556070517    cramps         2
2  1510950324  backache         3
3  1577089119  backache         1
4  1575599213   fatigue         1

In [26]:
df1.describe()

       Unnamed: 0        user
count  939.000000  939.000000
mean   469.000000  470.000000
std    271.210251  271.210251
min      0.000000    1.000000
25%    234.500000  235.500000
50%    469.000000  470.000000
75%    703.500000  704.500000
max    938.000000  939.000000

In [27]:
df1.median()

Unnamed: 0    469.0
user          470.0
dtype: float64

In [28]:
a=no_of_appointments(df1["appointments"])

D:\Genral Softwares\Anaconda\lib\site-packages\ipykernel_launcher.py:4: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  after removing the cwd from sys.path.

In [29]:
a=pd.Series(a)

In [30]:
a.sum()

15460

# ** the user's strength for each symptom (symptoms.strength) compared to other users who have appointments with the same doctor **

In [31]:
ddf.head()

         date      name  strength
0  1530680440  backache         1
1  1556070517    cramps         2
2  1510950324  backache         3
3  1577089119  backache         1
4  1575599213   fatigue         1

# **4**

In [32]:
ddf.head()

         date      name  strength
0  1530680440  backache         1
1  1556070517    cramps         2
2  1510950324  backache         3
3  1577089119  backache         1
4  1575599213   fatigue         1

In [33]:
dff.head()

     activity  after  before        date
0     fishing      1       3  1582084266
1      soccer      1       2  1572800887
2      soccer      3       4  1557499034
3  meditation      1       2  1561290915
4        yoga      1       4  1485172311

In [107]:
def mean_strength(aan):
    df9=[]
    for a in range(len(aan)):
        x=yaml.load(aan[a])
        dd=pd.DataFrame(x)
        df9.append(dd["strength"].mean())
    return df9
n=mean_strength(df3["symptoms"])
n.sort()
df3["mean_strength"]=n
ff=df3.sort_values(by="mean_strength").head(100)
ff["gender"].value_counts()
ff["age"].value_counts().plot(kind="bar")
m=no_of_appointments(df3["activities"])
df3["no_of_activities"]=m

D:\Genral Softwares\Anaconda\lib\site-packages\ipykernel_launcher.py:4: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  after removing the cwd from sys.path.

In [50]:
_10_percent=df3.sort_values(by="mean_strength").head(100)
_10_percent["gender"].value_counts()
_10_percent["no_of_activities"].value_counts()
per=_10_percent["no_of_activities"].value_counts().sort_index()

In [111]:
per=pd.DataFrame(per)
pre=pd.DataFrame()
pre["activities_range"]=["2-10","10-20","20-30"]
pre["no_of_activities"]=([per[0:9].sum()[0],per[9:19].sum()[0],per[19:].sum()[0]])
_10_percent["age"].value_counts()

  activities_range  no_of_activities
0             2-10                41
1            10-20                31
2            20-30                28